.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6fa;
  font-family: 'Google Sans', Arial, sans-serif;
  flex-direction: column;
}

.card {
  background: #ffffff;
  width: 608px;
  height: 656px;
  padding-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 16px;

}

.title {
  font-size: 26px;
  margin-bottom: 24px;
  font-weight: 500;
  color: #111;
  text-align: center;
}

.blue {
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  height: 48px;
  padding: 16px;
  margin: 0px;
  border: 1px solid #2D60FF;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

form {
  width: 608px;
}

.password-wrapper {
  position: relative;
  margin: 25px 0 25px;
  border: 1px solid #2D60FF;
  border-radius: 8px;
  height: 48px;
}

.password-input {
  width: 100%;
  height: 100%;
  padding: 12px 12px 12px 12px;
  border: none !important;   
  outline: none;
  background: transparent;
  font-size: 15px;
  box-sizing: border-box;
}

.password-label {
  position: absolute;
  top: -10px;       
  left: 12px;
  background: #fff;
  padding: 0 5px;
  color: #2D60FF;
  font-size: 14px;
  pointer-events: none;
}

.show-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.email-wrapper {
  position: relative;
  margin: 25px 0 25px;
  border: 1px solid #2D60FF;  
  border-radius: 8px;
  height: 48px;
}

.email-input {
  width: 100%;
  height: 100%;
  padding: 1px;
  border: none !important;
  outline: none;
  background: transparent;
  font-size: 15px;
  box-sizing: border-box;
}

.email-label {
  position: absolute;
  top: -10px;       
  left: 12px;
  background: #fff;
  padding: 0 5px;
  color: #2D60FF;
  font-size: 14px;
  pointer-events: none;
}


.eye-icon {
  width: 22px;
  height: 15px;
  opacity: 0.6;
}

.forgot {
  display: block;
  text-align: left;
  font-size: 16px;
  color: #2D60FF;
  text-decoration: none;
  margin-bottom: 24px;
}

.forgot:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  height: 48px;
  padding: 12px;
  background: #2D60FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover {
  background: #1e47d8;
}

.register {
  font-size: 16px;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.register a {
  color: #2D60FF;
  text-decoration: none;
  font-size: 16px;
}

.register a:hover {
  text-decoration: underline;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  color: #999;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 10px;
}

.social-btn-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.2s;
  color: #3109e2;
  gap: 15px;
}

.social-btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.2s;
  color: #e20909;
  gap: 15px;
}

.social-btn svg {
  margin-right: 80px;
}

.social-btn:hover {
  background: #f7f7f7;
}

p {
    color: #111;
    font-size: 18px;
}

.text {
    color: #888;
    font-size: 16px;
}

.login-logo {
  height: 35px;       
  vertical-align: middle; 
  border-radius: 6px;
  margin: 0 6px;      
}

.eregistru {
    font-weight: bold;
    font-size: 26px;
}

.terms {
  font-size: 16px;
  color: #888;
  margin-top: 15px;
  text-align: center;   
  display: block;       
  width: 400px;          
}
